html, body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main--app {
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    box-shadow: 3px 3px 3px #888888;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.app--name {
    color: #32CD32;
    font-family: "Big Shoulders Display", sans-serif;
    
    
}

.main--app--top {
    background-image: url('/assets/worldmap.png');
    background-position: center;
    background-repeat: no-repeat;
    
    background-size: cover;
    height: 100%;
    width: auto;
}

.main--app--top--container {
    
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    height: 100%;
    padding: 3rem;
}

.app--name--slogan {
    color: white;
}

.bird--image {
    width: 100%;
    max-width: 200px;
    
}

.main--app--top--bird--container {
    width: 100%;
}

/* Main */

.main--app--content--container {
    height: 100%;
    border: black 3px solid;
    border-radius: 10px;
    margin: 1em;
}

.main--app--content--container--input--text {
    width: 75%;
    padding: 0.7em;

    text-align:start;
    border-radius: 10px;
    border: none;
    background-color: #EFF0F4;
}

.main--app--content--container--languages {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 1.3em;
    font-weight: 700;
    margin-left: 2.0em;
    color: #333333;
}

.main--app--content--container--languages--select:not(:last-child) {
 margin-bottom: 1em;   
}

.languages--title {
    color: #035A9D;
}

#input--text {
    width: 80%;
    height: 100%;
    min-height: 6rem;
}

.translate--btn {
    color: white;
    background-color: #035A9D;
    font-size: 1.5em;
    width: 80%;
    padding: 0.6em 1.2em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    border-radius: 10px;
    border: none;
    
}

@media (max-width: 900px) {

    .main--app {
        border: black 2px solid;
    }
    .main--app--top {
        background-size: 100%;
        

    }

    .main--app--content--container {
        border: none;    
        
    }
}

@media (min-width: 1600px) {

    .main--app {
        border: black 2px solid;
    }
    .main--app--top {
        background-size: cover;
        

    }

    .main--app--content--container {
        border: none;    
        
    }

    .main--app--content--container--languages {
        margin-left: 4em;
    
    }
}