html, body {
    margin: 0;
    padding: 0;
}

.main--app {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    box-shadow: 3px 3px 3px #888888;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.main--app--background {
    background-image: url('/assets/worldmap.png');
}

.bird--image {
    width: 100px;
    height: auto;
    align-self: center;
}

/* Main */

.languages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.languages--title {
    color: #035A9D;
}

#input--text {
    width: 80%;
    height: 100%;
    min-height: 6rem;
}

.translate--btn {
    color: white;
    background-color: #035A9D;
}

